<%= form_for(@kebab) do |k| %>
<div class="form-group">
  <%= k.label :name %>
  <%= k.text_field :name, class: 'form-control' %>
</div>
<div class="form-group">
  <%= k.label :address %>
  <%= k.text_field :address, class: 'form-control' %>
</div>
  <%= k.submit class: 'btn btn-success' %>
<% end %>
