<%= simple_form_for(@kebab) do |k| %>
  <div class="form-group">
    <%= k.input :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= k.input :address, class: 'form-control' %>
    <%= k.input :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= k.input :photo, as: :file %>
  </div>
  <%= k.submit class: 'btn btn-success' %>
<% end %>
