<div class="container-fluid index-page">
  <h1 class="title">Passion Döner</h1>
  <% if user_signed_in? && current_user.admin? %>
    <div class="cta-wrapper">
      <%= link_to 'Add a Kebab', new_kebab_path, class: 'gradient-button text-center'%>
    </div>
  <% end %>
  <div class="search-form-nav">
    <%= form_tag kebabs_path, method: :get, class: "search-form-control form-group" do %>
      <%= label_tag 'query', nil, class: 'sr-only' %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control string required index_search",
        placeholder: "Search a Kebab" %>
      <%= button_tag(type: "submit", class: "btn btn-flat") do %>
        <i class="fas fa-search"></i> Search
      <% end %>
    <% end %>
    <%= link_to request.path, class:"cancel-button" do %>
      <span class="sr-only">Reset search</span>
      <i class="fas fa-times"></i>
    <% end %>
  </div>
  <div
  id="map"
  style="
  height: 400px;
  margin:auto;"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  data-markers="<%= @markers.to_json %>"
></div>
  <div class="kebabs_all-wrapper">
    <% if @kebabs.empty? %>
      <h6 class="text-center kebab-not_found">sorry we did not find any Kebab...</h6>
    <% else %>
      <div class="kebabs-cards">
        <% @kebabs.each do |kebab| %>
          <%= link_to kebab_path(kebab), class: 'card-product' do %>
            <%= avatar_for(kebab)%>
            <div class="card-product-infos">
              <h2><%= kebab.name %></h2>
              <p class="kebab-address kebab-address-small"><%= kebab.address %></p>
              <div class="card-right-section">
                <div class="tags-wrapper tags-index">
                  <% kebab.bread_category_list.each do |tag| %>
                    <p class="tags tags-small"><%= tag %></p>
                  <% end %>
                </div>
                <div class="stars-wrapper stars-index">
                  <% if  kebab.reviews.present? %>
                    <% count = 0 %>
                    <% 5.times do %>
                      <% if kebab.average_rating.round > count %>
                        <span class="stars-small star-colored"></span>
                      <% else %>
                        <span class="stars-small star-blank"></span>
                      <% end %>
                      <% count += 1 %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
