<%# View specific meta tags %>
<% content_for :meta_title, "#{@kebab.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @kebab.description %>
<% if @kebab.photo.attached? %>
  <% content_for :meta_image, url_for(@kebab.photo) %>
<% else %>
  <% content_for :meta_image, image_url("kebab_default.png") %>
<% end %>
<div class="back-to-list">
  <%= link_to kebabs_path do %>
    <i class="fa fa-history"></i> Back to list
  <% end %>
</div>
<div class="container page-wrapper">
  <h1 class="title"><%= @kebab.name %></h1>
  <p class="kebab-address"><%= @kebab.address %></p>
  <div class="kebab-pic-wrapper">
    <%= avatar_for(@kebab)%>
  </div>
  <div class="kebab-description">
    <p><%= @kebab.description %></p>
  </div>
  <div class="kebab_actions-wrapper">
    <% if user_signed_in? && current_user.admin? %>
      <hr>
      <%= link_to edit_kebab_path(@kebab), class: 'btn btn-primary' do %>
        <i class="fas fa-edit"></i> Edit kebab
      <% end %>
      <%= link_to kebab_path(@kebab), method: :delete, data: { confirm: "Delete #{@kebab.name}?" }, class: 'btn btn-danger' do %>
        <i class="fas fa-trash-alt"></i> Delete
      <% end %>
      <hr>
    <% end %>
  </div>
</div>
<div class="rating-section container-fluid">
  <div class="kebab-rating-container">
    <h4 class="rating-title">Our community rated this Kebab</h4>
    <div class="kebab-rating">
      <div class="stars-wrapper">
        <% if  @kebab.reviews.present? %>
          <% count = 0 %>
          <% 5.times do %>
            <% if @kebab.average_rating.round > count %>
              <span class="stars star-colored"></span>
            <% else %>
              <span class="stars star-blank"></span>
            <% end %>
            <% count += 1 %>
          <% end %>
        </div>
        <div class="review-nb">
          <% if @kebab.reviews.count == 1 %>
            <span class="rating-txt">(<%= @kebab.reviews.count %> review)</span>
          <% else %>
            <span class="rating-txt">(<%= @kebab.reviews.count %> reviews)</span>
          <% end %>
        <% else %>
          <p class="no-review-msg">Be the first to let a rating</p>
        <% end %>
      </div>
    </div>
    <div class="rating-details">
      <div class="flex-wrapper">
        <div class="bread_rating avg_rating">
          <p>Bread:</p>
          <% if  @kebab.reviews.present? %>
            <% count = 0 %>
            <% 5.times do %>
              <% if @kebab.bread_avg.round > count %>
                <span class="stars-small star-colored"></span>
              <% else %>
                <span class="stars-small star-blank"></span>
              <% end %>
              <% count += 1 %>
            <% end %>
          <% end %>
        </div>
        <div class="fries_rating avg_rating">
          <p>Fries:</p>
          <% if  @kebab.reviews.present? %>
            <% count = 0 %>
            <% 5.times do %>
              <% if @kebab.fries_avg.round > count %>
                <span class="stars-small star-colored"></span>
              <% else %>
                <span class="stars-small star-blank"></span>
              <% end %>
              <% count += 1 %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="flex-wrapper">
        <div class="meat_rating avg_rating">
          <p>Meat:</p>
          <% if  @kebab.reviews.present? %>
            <% count = 0 %>
            <% 5.times do %>
              <% if @kebab.meat_avg.round > count %>
                <span class="stars-small star-colored"></span>
              <% else %>
                <span class="stars-small star-blank"></span>
              <% end %>
              <% count += 1 %>
            <% end %>
          <% end %>
        </div>
        <div class="sauces_rating avg_rating">
          <p>Sauces:</p>
          <% if  @kebab.reviews.present? %>
            <% count = 0 %>
            <% 5.times do %>
              <% if @kebab.sauces_avg.round > count %>
                <span class="stars-small star-colored"></span>
              <% else %>
                <span class="stars-small star-blank"></span>
              <% end %>
              <% count += 1 %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="flex-wrapper">
        <div class="quantity_rating avg_rating">
          <p>Quantity:</p>
          <% if  @kebab.reviews.present? %>
            <% count = 0 %>
            <% 5.times do %>
              <% if @kebab.quantity_avg.round > count %>
                <span class="stars-small star-colored"></span>
              <% else %>
                <span class="stars-small star-blank"></span>
              <% end %>
              <% count += 1 %>
            <% end %>
          <% end %>
        </div>
        <div class="quality_price_rating avg_rating">
          <p>Quality / Price:</p>
          <% if  @kebab.reviews.present? %>
            <% count = 0 %>
            <% 5.times do %>
              <% if @kebab.quality_price_ratio_avg.round > count %>
                <span class="stars-small star-colored"></span>
              <% else %>
                <span class="stars-small star-blank"></span>
              <% end %>
              <% count += 1 %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="rate-btn">
      <button type="button" class="btn btn-flat" id="review-btn" data-toggle="modal" data-target="#modalReview">
        Rate this Kebab
      </button>
    </div>
  </div>
  <div class="reviews_content-wrapper">
    <h4 class="rating-title">Latest Reviews</h4>
    <% if  @kebab.reviews.present? %>
      <% @reviews.limit(10).order("created_at asc").each do |review| %>
        <%= render 'reviews/show', review: review %>
      <% end %>
    <% else %>
      <p class="no-review-msg">No reviews yet</p>
    <% end %>
  </div>
</div>
<div id="new-review">
  <div class="modal fade" id="modalReview" tabindex="-1" role="dialog" aria-labelledby="modalReview" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-header">
          <h2 class="modal-title">Rate this Döner</h2>
        </div>
        <div class="modal-body">
          <%= render 'reviews/new', review: @review, kebab: @kebab %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="related_kebab">
    <h3>Kebabs with same bread style</h3>
    <ul>
      <%# @related_kebabs.each do |r| %>
        <li><%#= r.name %></li>
      <%# end %>
    </ul>
  </div> -->
