<div class="container">
  <h1 class="text-center">Kebab SHow</h1>
  <%= @kebab.name %>
  <%= @kebab.address %>
  <hr>
  <%= link_to edit_kebab_path(@kebab), class: 'btn btn-primary' do %>
    <i class="fa fa-pencil"></i> Edit this kebab
  <% end %>
  <%= link_to kebab_path(@kebab), method: :delete, data: { confirm: "Delete #{@kebab.name}?" }, class: 'btn btn-danger' do %>
    Delete
  <% end %>
  <hr>
  <%= link_to kebabs_path do %>
    <i class="fa fa-history"></i> Back to list
  <% end %>
</div>
<div class="rating-section container">
  <div class="kebab-rating-container">
    <h4 id="rating-title">Our community rated this Kebab</h4>
    <div class="kebab-rating">
      <div class="stars-wrapper">
        <% if  @kebab.reviews.present? %>
          <% count = 0 %>
          <% 5.times do %>
            <% if @kebab.average_rating.round > count %>
              <span class="stars star-colored"></span>
            <% else %>
              <span class="stars star-blank"></span>
            <% end %>
            <% count += 1 %>
          <% end %>
        </div>
        <div id="rating-txt">
          <% if @kebab.reviews.count == 1 %>
            <span>(<%= @kebab.reviews.count %> review)</span>
          <% else %>
            <span>(<%= @kebab.reviews.count %> reviews)</span>
          <% end %>
        </div>
      <% else %>
        <p>Be the first to let a review</p>
      <% end %>
    </div>
    <div class="review-section">
      <%= render "reviews/new", kebab: @kebab, review: @review %>
    </div>
  </div>
